.create-users-form {
    margin: 0 2vw;
    margin-bottom: 40px;

    form {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            &.text {
                margin: 10px 0;
            }
            &.files {
                margin: 15px;
                flex-wrap: wrap;
            }
            .text-input-element {
                width: 100%;
            }
        }

        input:-webkit-autofill {
            box-shadow: 0 0 0 50px white inset;
            -webkit-box-shadow: 0 0 0 50px white inset;
        }
        input:-webkit-autofill:focus {
            box-shadow: 0 0 0 50px white inset;
            -webkit-box-shadow: 0 0 0 50px white inset;
        }
        button {
            width: 100% !important;
        }
    }
}
