.text-header {
    padding-bottom: 20px;
    h2 {
        padding: 12px 30px;
        color: #6579a1;
        font-weight: 300;
        cursor: text;
        font-size: 26px;
        background-color: #a8bbbb33;
    }
}
