@import '../../../../styles/vars.scss';

.radio-graph {
    img {
        position: absolute;
        top: 30%;
        width: 50vw;
        padding: 20px;
    }

    .file-picker {
        z-index: 9;
        position: absolute;
        right: -0.55%;
        top: 31%;
        width: 340px;
    }
}
