@import '../../../../styles/vars.scss';

.user-patients {
    margin: 0 2vw;
    display: flex;
    justify-content: center;

    .users-list {
        margin: 0 2vw;
        width: 100%;
        display: flex;
        flex-direction: column;

        .user {
            position: relative;
            border: 2px solid $label-border-color;
            border-radius: 2px;
            padding: 0 20px;
            padding-top: 15px;
            margin: 2px;

            img {
                position: absolute;
                bottom: 5%;
                left: 96%;
            }

            .patients {
                // display: none;
                margin-left: 70px;
                padding: 10px;

                &.open {
                    display: block;

                    p {
                        padding: 3px;
                    }
                }
            }
        }
    }
}
