// .add-users {
// }

.add-users .recent-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
        width: 90%;
        padding: 5px 20px;
        display: flex;
        background: #f1f1f1;
        color: #222;
        &:last-child {
            padding-bottom: 30px;
        }
        .column {
            padding: 5px 0;
            border-bottom: 1px solid rgb(212, 212, 212);
            flex: 1;
        }
    }
}
