.patients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.patients .pie-charts {
    display: flex;
}

.patients .chart {
    width: 25vw;
    margin: 20px;
    background: white;
    border-radius: 15px;
    padding: 20px;
}
