.reports {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: white;
    margin: 0 2vw;
    overflow-x: hidden;
}

.reports .pie-charts {
    display: flex;
}

.reports .chart {
    margin: 20px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    padding-right: 80px;
    border: 2px solid rgb(240, 240, 240);
}
