.reports {
    .charts-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background: white;
        margin: 0 2vw;
        overflow-x: hidden;
    }
}

.reports .pie-charts {
    display: flex;
}

.reports .chart {
    width: fit-content;
    margin: 20px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    padding-right: 80px;
    border: 2px solid rgb(230, 230, 230);
}
