@import './vars.scss';

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: $secondary-color;
    z-index: 99;

    .logo {
        display: block;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
        text-align: center;
        padding-right: 25px;
        padding-top: 10px;
        color: $faint-color;

        span {
            color: $primary-color;
        }
    }

    &-element {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        margin: 15px 0;
        text-decoration: none;
        color: $faint-color;

        &:nth-child(1) {
            margin-top: 30px;
        }

        &:hover {
            cursor: pointer;
        }
        &.selected {
            background: $focus-color;
            color: white;
        }
        .text {
            margin-left: 15px;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 0.5px;
        }

        &.notifications-btn {
            position: relative;
            .circle {
                position: absolute;
                text-align: center;
                padding-right: 1.5px;
                top: 1px;
                left: 40px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: rgb(228, 60, 60);
                color: aliceblue;
                font-weight: 600;
            }
        }
    }
}
