$primary-color: #057d92;
$primary-color-dark: color(#344f53 shade(12%));
$primary-color-tint: color(#e7827b tint(70%));
$secondary-color: #222;
$secodnary-color-dark: color(#222 shade(12%));
$secondary-color-tint: color(#222 tint(70%));
$form-width: 22rem;
