@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
$primary-color: #057d92;
$primary-color-dark: color(#344f53 shade(12%));
$focus-color: rgba(115, 191, 241, 0.3);
$faint-color: rgba(195, 219, 235, 0.5);
$secondary-color: #222;
$form-width: 24rem;

body {
    background: #234;
    color: white;
}
