@import '../../../styles/vars.scss';

.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    background: $bg-color;
    z-index: 99;

    &-open {
        width: 220px;
    }
    .logo {
        display: block;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
        text-align: center;
        padding-right: 25px;
        padding-top: 10px;
        color: #8d8da89d;

        span {
            color: #b9bfc5c0;
        }
    }
}
