.file-input-element {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;

    label {
        text-transform: uppercase;
    }

    .file-picker {
        display: inline-block;
        width: 240px;
        text-align: center;
        margin: 3px 20px;
        padding: 12px;
        background: #096e9c;
        color: aliceblue;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
    }

    .image-preview {
        width: 240px;
        height: 150px;
        margin: 3px 20px;
        padding: 10px;
        border: 2px solid #096e9c;
        border-radius: 3px;
        position: relative;

        &::after {
            content: 'image preview';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
        }
    }
}
