@import '../../../styles/vars.scss';

.alert {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: $form-width;
    text-align: center;

    &.success {
        border: 2px solid rgba(0, 128, 0, 0.5);
        background: rgba(0, 128, 0, 0.2);
        color: rgb(0, 197, 0);
    }
    &.error {
        border: 2px solid rgba(255, 0, 0, 0.5);
        background: rgba(255, 0, 0, 0.15);
        color: red;
    }
    .pending {
        border: 2px solid rgba(255, 166, 0, 0.5);
        background: rgba(255, 166, 0, 0.1);
        color: orange;
    }
}
