@import '../../../../styles/vars.scss';

.button-element {
    display: flex;
    padding: 40px 20px;
    justify-content: center;

    button {
        width: 75%;
        height: 45px;
        font-size: 22px;
        padding: 5px 20px;
        border: none;
        background: $btn-color;
        color: white;
        text-transform: uppercase;
        border-radius: 3px;
        transition: $ease;

        &:hover {
            background: $btn-color-hover;
        }
    }
}
