@import '../../../../styles/vars.scss';

.calc-head {
    background-color: $bg-color;
    z-index: 99;
    position: fixed;
    top: 38%;
    right: 3%;
    width: 185px;
    height: auto;
    border: 2px solid $label-border-color;
    border-radius: 5px;
    padding: 4px 0;

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .unSelected,
        .selected {
            width: 32px;
            margin: 5px;
            display: flex;
            justify-content: center;
            padding: 3px 0;
            border-radius: 3px;
            font-size: 12px;
            border: 1px solid gray;
        }

        .unSelected {
            color: black;
            transition: 0.3s;
            background-color: #fff;

            &:hover {
                background-color: #fff;
                cursor: copy;
                border-color: orange;
            }
        }
        .selected {
            color: #999;
            background-color: #ddd;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}
