@import '../../../../styles/vars.scss';
.update-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin: 0 2vw;
        padding: 10px;
        border: 1px solid $label-border-color;
        border-radius: 5px;
        margin-bottom: 40px;
        width: 25vw;
        background: #f4f8fa85;
        &._unAuthorized {
            background: #ffe2e23f;
            border-color: #ffa1a171;
        }

        .head {
            display: flex;

            .text {
                padding: 20px 0;
                color: #3a6fd1;
                font-size: 17px;
                transform: translateX(-5px);

                .grade {
                    color: green;
                    font-size: 18px;
                    text-transform: capitalize;
                    white-space: nowrap;
                }
                .year-of-study {
                    margin-left: 5px;
                    color: #e68b24;
                }
                .faculty {
                    font-size: 24px;
                    color: #3f4244;
                    margin-top: 5px;
                    text-transform: capitalize;
                }
                .specialty {
                    margin-left: 5px;
                }
            }
        }

        .name {
            padding: 5px 12px;
            font-size: 24px;
            color: #053d6b;
            text-transform: capitalize;
        }
        .birth-date,
        .email,
        .phone {
            text-align: right;
            padding: 0 10px;
            margin-bottom: 7px;
        }
        .email {
            font-size: 19px;
            color: #4a2bf5;
        }
        .phone {
            color: green;
        }
        .last-activity {
            span {
                color: blue;
                font-size: 17px;
                padding: 0 5px;
            }
        }

        .image {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 200px;

            img {
                margin-top: 10px;
                margin-left: 10px;
                width: 150px;
                height: 120px;
                border-radius: 4px;
                object-fit: cover;

                &:hover {
                    cursor: pointer;
                }
            }
            &.zoomed-in {
                &:before {
                    content: '';
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    background: #6668;
                    z-index: 9;
                }

                img {
                    position: fixed;
                    top: 5%;
                    left: 220px;
                    width: 75vw;
                    height: 90vh;
                    z-index: 9;
                }
            }
        }

        .card-buttons {
            display: flex;
            justify-content: space-around;
            padding: 15px 8px;
            margin-top: 12px;
            position: relative;

            img:hover {
                cursor: pointer;
            }

            .confirm-tab {
                display: none;
                &.active {
                    display: block;
                    z-index: 99;
                    background: #e6e9e1;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h3 {
                        color: rgb(216, 38, 38);
                        font-size: 25px;
                        padding: 20px;
                        font-family: 'Montserrat';
                    }
                    .username {
                        color: red;
                        font-size: 18px;
                        padding: 0 6px;
                        text-transform: capitalize;
                    }
                    .tab-buttons {
                        flex-direction: column;
                        transform: translateX(-20px);
                        .cancel,
                        .delete {
                            text-transform: capitalize;
                            padding: 8px 40px;
                            background: white;
                            margin: 15px;
                            text-align: center;
                            border-radius: 2px;
                            font-weight: bold;
                            transition: 1s ease;
                        }
                        .cancel {
                            color: #45d382;
                            &:hover {
                                background: #45d382;
                                color: white;
                            }
                        }
                        .delete {
                            color: red;

                            &:hover {
                                color: white;
                                background: red;
                            }
                        }
                    }
                }
            }
        }
    }
    .empty-search {
        transform: translateX(-15px);
        display: flex;
        justify-content: center;
        img {
            max-width: 650px;
        }
    }
}

.selected-user-container {
    height: fit-content;
    background: white;
    position: absolute;
    top: 0;
    right: 0;

    .form-container {
        display: flex;
        flex-direction: column;
        margin: 0 4vw;
        margin-bottom: 30px;

        .row {
            display: flex;
            &.text {
                margin: 10px 0;
            }
            &.files {
                margin: 15px;
                flex-wrap: wrap;
            }
            .text-input-element {
                width: 100%;
            }
        }
        .buttons {
            margin-top: 20px;
            justify-content: center;

            button {
                font-size: 17px;
            }
            :nth-child(1) button {
                background: orange;
                &:hover {
                    background: #ffbb3c;
                }
            }
            :nth-child(2) button {
                background: green;
                &:hover {
                    background: #039603;
                }
            }
        }
    }
}
