@import '../../../../styles/vars.scss';
.update-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin: 0 2vw;
        padding: 10px;
        border: 1px solid $label-border-color;
        border-radius: 5px;
        margin-bottom: 40px;
        width: 25vw;
        background: #f4f8fa85;
        &._unAuthorized {
            background: #ffe2e23f;
            border-color: #ffa1a171;
        }

        .head {
            display: flex;

            .text {
                padding: 20px 0;
                color: #3a6fd1;
                font-size: 17px;
                transform: translateX(-5px);

                .grade {
                    color: green;
                    font-size: 18px;
                    text-transform: capitalize;
                    white-space: nowrap;
                }
                .year-of-study {
                    margin-left: 5px;
                    color: #e68b24;
                }
                .faculty {
                    font-size: 24px;
                    color: #3f4244;
                    margin-top: 5px;
                    text-transform: capitalize;
                }
                .specialty {
                    margin-left: 5px;
                }
            }
        }

        .name {
            padding: 5px 12px;
            font-size: 24px;
            color: #053d6b;
            text-transform: capitalize;
        }
        .birth-date {
            text-align: right;
            padding: 0 10px;
            margin-bottom: 15px;
        }

        .image {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 200px;

            img {
                margin-top: 10px;
                margin-left: 10px;
                width: 150px;
                height: 120px;
                border-radius: 4px;
                object-fit: cover;

                &:hover {
                    cursor: pointer;
                }
            }
            &.zoomed-in {
                &:before {
                    content: '';
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    background: #6668;
                    z-index: 9;
                }

                img {
                    position: fixed;
                    top: 5%;
                    left: 220px;
                    width: 75vw;
                    height: 90vh;
                    z-index: 9;
                }
            }
        }

        // .button-element {
        //     button {
        //         font-size: 13px;
        //         margin: 0;
        //         background: orange;
        //         &:hover {
        //             background: #ffb732;
        //         }
        //     }
        // }
    }
    .empty-search {
        margin: 0 4vw;
        display: flex;
        justify-content: center;
        img {
            max-width: 650px;
        }
    }
}

.selected-user-container {
    height: fit-content;
    background: white;
    position: absolute;
    top: 0;
    right: 0;

    .form-container {
        display: flex;
        flex-direction: column;
        margin: 0 4vw;
        margin-bottom: 30px;

        .row {
            display: flex;
            &.text {
                margin: 10px 0;
            }
            &.files {
                margin: 15px;
                flex-wrap: wrap;
            }
            .text-input-element {
                width: 100%;
            }
        }
        .buttons {
            margin-top: 20px;
            button {
                font-size: 17px;
            }
            :nth-child(1) button {
                background: orange;
                &:hover {
                    background: #ffbb3c;
                }
            }
            :nth-child(2) button {
                background: green;
                &:hover {
                    background: #039603;
                }
            }
        }
    }
}
