.text-input-element {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    width: 60vw;
    position: relative;

    label {
        width: fit-content;
        transform: translate(10px, 10px);
        background: white;
        padding: 0 10px;
        text-transform: uppercase;
    }
    input {
        outline: none;
        padding: 5px 10px;
        border: 2px solid #333;
        border-radius: 3px;
        font-size: 18px;
        height: 30px;

        &[type='password'] {
            font: caption;
        }
    }

    .password-eye {
        position: absolute;
        top: 55%;
        right: 40px;

        &:hover {
            cursor: pointer;
        }
    }
}
