.search-update-users {
    .search-users {
        margin: 0 2vw;

        .search-input-element {
            width: 65vw;
            margin: 0 2vw;
        }
        .button-element {
            margin: 0 2vw;
            margin-bottom: 20px;
            justify-content: start;
            button {
                width: 68vw !important;
            }
        }
    }

    .update-users {
        margin: 0 2vw;

        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            border: 2px solid #33d6;
            border-radius: 5px;
            margin-bottom: 5px;

            span {
                color: blue;
            }
            .column {
                width: 260px;
                padding: 5px 0;
                border-bottom: 1px solid #ddd;
                margin: 0 10px;
            }
            .images {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 10px;

                .image {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    img {
                        margin-top: 10px;
                        margin-left: 20px;
                        width: 260px;
                        height: 180px;
                        border: 2px solid #9446;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                    &.zoomed-in {
                        &:before {
                            content: '';
                            position: fixed;
                            left: 0;
                            top: 0;
                            width: 100vw;
                            height: 100vh;
                            background: #6668;
                        }

                        img {
                            position: fixed;
                            top: 18%;
                            left: 290px;
                            width: 70vw;
                            height: 78vh;
                        }
                    }
                }
            }
        }
        .empty-search {
            margin: 0 4vw;
        }
    }
}
