.users-stat .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;

    .right {
        .card {
            width: 380px;
            height: 250px;
            margin: 10px 0;
            padding: 0 15px;
            padding-bottom: 30px;
            overflow: hidden;

            &:nth-child(1) {
                background: rgb(236, 243, 255);
                border: 2px solid #4566;
            }
            &:nth-child(2) {
                background: rgb(255, 244, 244);
                border: 2px solid #4566;
            }
        }
    }
    .left {
        .card {
            width: 350px;
            height: 500px;
            background: rgb(243, 255, 248);
            padding: 40px;
            border: 2px solid #4566;
        }
    }
}

.users-stat .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    h1 {
        font-weight: 400;
        padding: 10px 0;
        text-transform: capitalize;
        color: rgb(15, 15, 116);
    }
    p {
        padding: 10px;
        font-size: 30px;
        letter-spacing: 2px;
        color: rgb(255, 72, 72);
    }
}
