.recent-users {
    margin: 0 2vw;
    margin-bottom: 20px;

    .row {
        padding: 5px 20px;
        display: flex;

        .column {
            flex: 1;
            padding: 5px 0;
            border-bottom: 1px solid #ddd;
        }
    }
}
